# 자료구조

## 1 스칼라
- 하나의 값으로 구성된 자료구조
- 자료구조를 만드는 가장 작은 기본 단위

In [51]:
# int(정수)
x = 1
print(x, type(x), sep = '\n')

1
<class 'int'>

In [11]:
# float(실수)
x = 1.5
print(x, type(x))

1.5 <class 'float'>

In [13]:
# str(문자열)
x = 'apple'
print(x,type(x))

apple <class 'str'>

In [15]:
# bool(논리형)
x = True
y = False
print(x,type(x))
print(y,type(y))

True <class 'bool'>
False <class 'bool'>

## 2 리스트(list)

In [26]:
x = [1,2,'a','b']
print(x,type(x))

[1, 2, 'a', 'b'] <class 'list'>

In [17]:
# 리스트 추출하기
x[0] # 인덱싱

1

In [18]:
x[-1]

'b'

In [20]:
x[1:3] # 슬라이싱

[2, 'a']

### 리스트 수정하기

In [27]:
# 추가하기
x.append(8)
x

[1, 2, 'a', 'b', 8]

In [28]:
# 삭제하기 - 인덱싱으로 삭제
x.pop(2)
x

[1, 2, 'b', 8]

In [29]:
# 삭제하기 - 값으로 삭제
x.remove(2)
x

[1, 'b', 8]

In [30]:
# 변경하기
x[0] = 9
x

[9, 'b', 8]

## 3 튜플(tuple)
- 튜플은 수정할 수 없다!

In [31]:
x = (1,2,'a','b')
x

(1, 2, 'a', 'b')

In [32]:
x2 = 1,2,'a','b'
x2

(1, 2, 'a', 'b')

In [33]:
print(type(x),type(x2))

<class 'tuple'> <class 'tuple'>

In [34]:
# 튜플 추출하기
x2[0]

1

In [35]:
x2[1:3]

(2, 'a')

## 4 딕셔너리(dict)

In [37]:
x = {'name' : 'kim'}
print(x,type(x))

{'name': 'kim'} <class 'dict'>

In [60]:
x = {'id' : 1,
     'name' : ['kim','park'],
     'nclass' : (1,2,3)}
print(x,type(x))

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3)} <class 'dict'>

### 딕셔너리 추출하기

In [41]:
x['id']

1

In [42]:
x['name']

['kim', 'park']

In [43]:
x['name'][0]

'kim'

In [44]:
x['nclass'][1]

2

### 딕셔너리 수정하기

In [61]:
# 추가하기
x['score'] = [5,6,7]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [46]:
# 삭제하기
del x['id']

In [47]:
x

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [48]:
del x['name'][0]
x

{'name': ['park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [62]:
# 값 변경하기
x['score'] = [7,8,9]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [7, 8, 9]}

In [63]:
x['score'][-1] = 99
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [7, 8, 99]}

#### 키 변경하기

In [64]:
# 1단계) 기존 키를 새로운 케에 할당
x['math'] = x['score']
x

{'id': 1,
 'name': ['kim', 'park'],
 'nclass': (1, 2, 3),
 'score': [7, 8, 99],
 'math': [7, 8, 99]}

In [65]:
# 2단계) 기준 키 삭제
del x['score']
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'math': [7, 8, 99]}

## 5 시리즈 (series)
- 여러 값을 나열한 자료구조
- 데이터 프레임을 구성하는 하위 요소
- 데이터 프레임을 다루는 함수는 대부분 시리즈를 이용해서 연산한다.
- pandas 패키지 안에 있다

### 시리즈 만들기

In [84]:
import pandas as pd
x_num = pd.Series([3,4,5])
x_num

0    3
1    4
2    5
dtype: int64

In [68]:
type(x_num)

pandas.core.series.Series

In [69]:
# 인덱스 정하기(기본은 0부터 시작)
x_label = pd.Series([3,4,5],index=['kim','lee','park'])
x_label

kim     3
lee     4
park    5
dtype: int64

In [71]:
type(x_label)

pandas.core.series.Series

### 시리즈 추출하기

In [72]:
x_num[0]

3

In [73]:
x_num[1]

4

In [74]:
x_label[2] # 2번쨰 값 추출

C:\Users\hyunk\AppData\Local\Temp\ipykernel_26748\1953756675.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x_lable[2]

5

In [76]:
x_label['kim'] # 인덱스 kim의 값 추출

3

### 시리즈 수정하기

In [85]:
# 추가하기
x_num[3] = 9 # 3번째 인덱스에 값 9 할당
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [81]:
x_label['choi'] = 6 # 인덱스 choi에 값 6 할당
x_label

kim     3
lee     4
park    5
choi    6
dtype: int64

In [86]:
# 삭제하기
del x_num[2] # 인덱스 번호 2번째 값 삭제
x_num

0    3
1    4
3    9
dtype: int64

In [87]:
del x_label['park']
x_label

kim     3
lee     4
choi    6
dtype: int64

In [88]:
# 수정하기
x_num[3] = 4
x_num

0    3
1    4
3    4
dtype: int64

In [90]:
x_label['kim'] = 5
x_label

kim     5
lee     4
choi    6
dtype: int64

## 6 데이터 프레임
- 행과 열로 구성된 사각형 모양의 표처럼 생긴 자료구조
- 데이터를 다룰때 가장 많이 사용되는 자료구조

In [91]:
df = pd.DataFrame({'val1': [1,2,3],
                   'val2' : [4,5,6]})
df

   val1  val2
0     1     4
1     2     5
2     3     6

In [92]:
type(df)

pandas.core.frame.DataFrame

In [2]:
# 인덱스 정하기
df = pd.DataFrame({'val1': [1,2,3],
                   'val2' : [4,5,6]}, 
                   index= ['kim','lee','park'])
df

      val1  val2
kim      1     4
lee      2     5
park     3     6

In [1]:
# # 단순 인덱스 추출은 불가
# y = df['kim']
# y

In [5]:
x = df['val1']
x

kim     1
lee     2
park    3
Name: val1, dtype: int64

In [1]:
import pandas as pd

In [95]:
type(x)

pandas.core.series.Series

#### 데이터 프레임 자료구조 바꾸기

In [2]:
# x = [1,1,2,3]
# x.mean() # mean함수는 리스트에 없다

In [105]:
# 데이터 프레임으로 변환
df_x = pd.DataFrame(x,columns=['column1'],index = ['kim','kim','lee','park'])
print(df_x.mean())
df_x

column1    1.75
dtype: float64

      column1
kim         1
kim         1
lee         2
park        3

In [104]:
type(df_x)

pandas.core.frame.DataFrame

In [3]:
# Sries_x = pd.Series(x,columns=['column1'],index = ['kim','kim','lee','park'])
# Sries_x # 시리즈는 컬럼을 지정할 수 없다